<div class="section">
    <div class="component">
        <div>{{title}}</div>
        <div>{{body}}</div>
        <div>{{text}}</div>
        <img src="../../favicon.ico" alt="img">
    </div>
    <div class="component">
        <div>{{title}}</div>
        <div>{{body}}</div>
        <div>{{text}}</div>
        <img src="../../favicon.ico" alt="img">
    </div>
    <div class="component">
        <div>{{title}}</div>
        <div>{{body}}</div>
        <div>{{text}}</div>
        <img src="../../favicon.ico" alt="img">
    </div>
</div>